@using ActionMailer.Net
@model BrokerMVC.Models.RealEstateComplain

@{
    Layout = null;
}

<html>
<head>
    <title></title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
</head>
<body>
    <table style='width:70%; direction:rtl;' align='center'>
        <tr style='background-color: #403F41; color: #FFFFFF; margin-top: 0; width: 100%; border-bottom: 3px solid #FF0000;'>   <td> <table style='width:100%'><tr><td><h2 style='margin-right:10px; color: #FFFFFF;'> عقار ستوك </h2> </td> <td style='margin-top: 10px; float:left;'>   <a href='https://www.facebook.com/aqarstock' target='_blank' style='float: left;  display: inline-block;margin-right:3px;'> <img src='http://icons.iconarchive.com/icons/yootheme/social-bookmark/32/social-facebook-button-blue-icon.png'></img></a>   <a href='https://www.twitter.com/aqar_stock' target='_blank' style='float: left; display: inline-block;margin-right:3px;'>  <img src='http://icons.iconarchive.com/icons/matiasam/ios7-style/32/Twitter-icon.png'></img></a> <a href='https://plus.google.com/u/1/b/117363535775361161714' target='_blank' style='float: left;  display: inline-block;margin-right:3px;'>   <img src='http://icons.iconarchive.com/icons/martz90/circle/32/google-plus-icon.png'></img></a> </td></tr> </table></td> </tr>
        <tr style='background-color: #E4E5E7; width: 100%;'>
            <td>
                <p>
                    <h4 style='margin-right:10px;'>  عزيزى العميل , </h4>  <b style='margin-right:10px;'>تم ارسال طلب شراء لاحد عقاراتك المسجلة على النظام </b> <table style='margin-right:10px; margin-left:10px; margin-top:5px; '>
                        <tr style='background-color:#FEFEC6;'><td style='font-weight: bold; padding: 5px;  text-align: center; width: 10%; vertical-align: top;'>رقم العقار</td><td>16650</td></tr>
                        <tr style='background-color:#FEFEC6;'>
                            <td style='font-weight: bold; padding: 5px;  text-align: center; width: 10%; vertical-align: top;'>عنوان اعلان العقار</td>
                            <td>
                                شقة للبيع بالعجمي بالتقسيط 75م
                            </td>
                        </tr>
                    </table>
                </p>  <p style='float: left; margin-left:10px;'><b>خدمة عملاء عقار ستوك </b> <br /><small><a href='http://www.aqarstock.com/' target='_blank' style='float: left; display: inline-block'>http://www.aqarstock.com/</a></small></p>
            </td>
        </tr>
    </table>
</body>
</html>
