@model BrokerMVC.Models.Subscriber
@{
    Layout = "~/Views/Mail/_EmailLayout.html.cshtml";
}

<div class="caption">
    <h1>
        عزيزى العميل
        <br />
        <span>
            مرحبا بك فى عقار ستوك
        </span>
    </h1>
</div>
<table id="table">
    <tr>
        <td class="cell primary" style="text-align:center">
            <h4>تم انشاء كلمة سر مؤقته بمكنك استخدمها للدخول الي حسابك و لرؤية بيانات المالك</h4>
            <span style="color:red; text-align:center"> <strong> @Model.ActivationCode</strong></span>
        </td>
        @*<td class="cell" style="color:red"><strong> @Model.ActivationCode</strong></td>*@
    </tr>


</table>
<div class="footer">
    <a href="@ConfigurationSettings.AppSettings["WebSite"].ToString()"> خدمة عملاء @ConfigurationSettings.AppSettings["Name"].ToString()</a>
    <br />
</div>

