<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="Data Source=116.203.249.108, 1433;Initial Catalog=RealEstateBroker;user id=LocationDesignUser;password=S9JlMdkw7Tt7JNs;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BrokerMVC-20151025092125.mdf;Initial Catalog=aspnet-BrokerMVC-20151025092125;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="IdentityConnection" connectionString="Data Source=116.203.249.108, 1433;Initial Catalog=RealEstateBroker;user id=LocationDesignUser;password=S9JlMdkw7Tt7JNs;" providerName="System.Data.SqlClient" />
    <add name="RealEstateBrokerEntities" connectionString="metadata=res://*/Models.BrokerModel.csdl|res://*/Models.BrokerModel.ssdl|res://*/Models.BrokerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=116.203.249.108, 1433;initial catalog=RealEstateBroker;user id=LocationDesignUser;password=S9JlMdkw7Tt7JNs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Data Source=116.203.249.108, 1433;Initial Catalog=LocationDesign;user id=LocationDesignUser;password=S9JlMdkw7Tt7JNs;-->

    <add name="ApplicationServices" connectionString="Data Source=94.130.151.60, 1433;Initial Catalog=RealEstateBroker;user id=LocationDesignUser;password=S9JlMdkw7Tt7JNs;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BrokerMVC-20151025092125.mdf;Initial Catalog=aspnet-BrokerMVC-20151025092125;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="IdentityConnection" connectionString="Data Source=94.130.151.60, 1433;Initial Catalog=RealEstateBroker;user id=LocationDesignUser;password=S9JlMdkw7Tt7JNs;" providerName="System.Data.SqlClient" />
    <add name="RealEstateBrokerEntities" connectionString="metadata=res://*/Models.BrokerModel.csdl|res://*/Models.BrokerModel.ssdl|res://*/Models.BrokerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=94.130.151.60, 1433;initial catalog=RealEstateBroker;user id=LocationDesignUser;password=S9JlMdkw7Tt7JNs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--Data Source=94.130.151.60, 1433;Initial Catalog=LocationDesign;user id=LocationDesignUser;password=S9JlMdkw7Tt7JNs;-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GoogleKey" value="AIzaSyDFVt9cIFtqLuOizgH-N0kbyYCiys-DmEQ" />
    <add key="GoogleAuthenticationClientId" value="574223338027-m2n5sqcig5c0rf0mdf5037s4h5cemgq8.apps.googleusercontent.com" />
    <add key="GoogleAuthenticationClientSecret" value="cRJuZBfRY1RemNQxizFo8gRn" />
    <add key="FacebookAuthenticationAppId" value="508027740125464" />
    <add key="FacebookAuthenticationAppSecret" value="32dd5e57590c3b9a3036335f1d98213d" />
    <add key="GoogleMapsKey" value="https://maps.googleapis.com/maps/api/js?key=AIzaSyALSWlo-QVOmkyox-MczjxOTARW9rvqHBQ&amp;v=3.exp&amp;libraries=places" />
    <add key="RootURL" value="www.aqarstock.com" />
    <add key="MailServer" value="smtp.gmail.com" />
    <add key="MailServerPort" value="587" />
    <add key="MailFrom" value="ak.testdev2020@gmail.com" />
    <add key="MailUserName" value="ak.testdev2020@gmail.com" />
    <add key="MailPassword" value="M@1l2020" />
    <add key="Name" value="عقار ستوك" />
    <add key="FaceBook" value="https://www.facebook.com/aqarstock" />
    <add key="Twitter" value="https://www.twitter.com/aqar_stock" />
    <add key="Google" value="https://plus.google.com/u/1/b/117363535775361161714" />
    <add key="WebSite" value="http://aqarstock.com" />
    <add key="SMSUser" value="MasteryIT" />
    <add key="SMSPassword" value="UtGpZx3Gm9" />
    <add key="SMSFrom" value="Aqar Stock" />
    <add key="MonitorEMail" value="info@aqarstock.com,zahra.osman@Masteryit.com,emad.tarek@masteryit.com" />
    <add key="ContactUsEMail" value="info@aqarstock.com,zahra.osman@Masteryit.com,emad.tarek@masteryit.com" />
    <add key="Masharef" value="34,5093" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" >
        <network host="smtp.gmail.com" defaultCredentials="false" userName="ak.testdev2020@gmail.com" password="M@1l2020" port="587" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="NotFound" />
    </customErrors>
    <authentication mode="None" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Rare" duration="600" location="Server" />
          <add name="Sometime" duration="420" location="Server" />
          <add name="Often" duration="300" location="Server" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="ServiceSoap1"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://smsvas.vlserv.com/KannelSending/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="SMSServiceReference.ServiceSoap" name="ServiceSoap"/>
      <!--<endpoint address="https://smsvas.vlserv.com/KannelSending/service.asmx"
        binding="customBinding" bindingConfiguration="ServiceSoap12"
        contract="SMSServiceReference.ServiceSoap" name="ServiceSoap12" />-->
    </client>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: {88DB08D2-D80E-44AE-8164-298637CC5345}-->