<div class="projectsSide col-md-8" ng-controller="ModelDetailsController">
                    <div class="projectInfo">
                        <div class="companyTitle">
                            <h4>
                                <a class="back" detail-backbutton href="javascript:void(0);">رجوع</a><span>{{Model.ProjectName}} - {{Model.Name}}</span></h4>
                        </div>
                        <div class="map-photo">
                            <div class="projectImg col-md-6">
                                <img src="http://www.aqarstock.com/{{Model.ProjectLogo}}" />
                            </div>
                            <div class="modelImg col-md-6">
                                <img src="http://www.aqarstock.com/{{Model.PlanImageURL}}"/>
                            </div>
                            
                            <div class="clear">
                            </div>
                        </div>
                        <div class="companyDetails">
                            <div class="detailsRow">
                                <div class="titl">
                                    <span>اسم النموذج</span></div>
                                <div class="descrip">
                                    <span>{{Model.Name}}</span>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="detailsRow">
                                <div class="titl">
                                    <span>نوع الوحدة</span></div>
                                <div class="descrip">
                                    <span>{{Model.Type}}</span></div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="detailsRow">
                                <div class="titl">
                                    <span>المساحة</span></div>
                                <div class="descrip">
                                    <span>{{Model.Area}} م </span></div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="detailsRow">
                                <div class="titl">
                                    <span>السعر</span></div>
                                <div class="descrip">
                                    <span>{{Model.Price}}</span></div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="detailsRow">
                                <div class="titl">
                                    <span>شرح للنموذج</span></div>
                                <div class="descrip">
                                    <span>{{Model.Description}}</span></div>
                                <div class="clear">
                                </div>
                            </div>
                        </div>
                       <!-- <div class="projectBtns">
                            <div class="owner">
                                <a href="#">راسلنا</a></div>
                        </div>-->
                        <div class="clear"></div>
                    </div>
                    <!--<div class="modelPhotos">
                        <div class="companyTitle">
                            <h4>
                                <a class="back" href="#">المزيد</a><span>صور المشروع</span></h4>
                        </div>
                        <div class="loader"><img src="images/Frontend/loading2.gif"></div>
                        <div class="photosList">
                            <ul>
                                <li class="col-md-4">
                                    <div class="item">
                                        <a href="#">
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" />
                                            </div> 
                                        </a>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="item">
                                        <a href="#">
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" />
                                            </div> 
                                        </a>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="item">
                                        <a href="#">
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" />
                                            </div> 
                                        </a>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="item">
                                        <a href="#">
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" />
                                            </div> 
                                        </a>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="item">
                                        <a href="#">
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" />
                                            </div> 
                                        </a>
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="item">
                                        <a href="#">
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" />
                                            </div> 
                                        </a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="projectBtns">
                            <div class="back">
                                <a href="#">رجوع</a></div>
                    </div>-->
                </div>