
    <div class="contactArea" ng-controller="OwnerDataController">

    <div class="projectDetails">
        <div class="detailsRow" details-row>
            <div class="titl">
                <span>اسم المالك</span>
            </div>
            <div class="descrip">
                <span> {{Model.OwnerName}}</span>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="detailsRow" details-row>
            <div class="titl">
                <span>رقم الهاتف</span>
            </div>
            <div class="descrip">
                <span> {{Model.OwnerPhone}}</span>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="detailsRow" details-row>
            <div class="titl">
                <span>الايميل</span>
            </div>
            <div class="descrip">
                <span> {{Model.OwnerEmail}}</span>
            </div>
            <div class="clear">
            </div>
        </div>

    </div>
</div>