<div class="modelSide col-md-8">
                    <div class="projectsVideoSide ">
                        <div class="companyTitle">
                            <h4>
                                <a class="back" href="javascript:void(0);" detail-backbutton>رجوع</a><span>فيديوهات {{Name}}</span></h4>
                        </div>
                        <div id="divVideoloading" class="loader">
                            <img src="images/Frontend/loading2.gif" /></div>
                        <div class="compeniesList">
                            <ul id="ulVedioList">
                       <!--         <li class="col-md-6">
                                    <div class="item">
                                        <a href="#">
                                            <iframe width="100%" height="300px" src="http://www.youtube.com/embed/XGSy3_Czz8k">
                                            </iframe>
                                            <div class="itemDetails">
                                                <span>اسم المشروع يوضع هنا</span></div>
                                        </a>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="item">
                                        <a href="#">
                                            <iframe width="100%" height="300px" src="http://www.youtube.com/embed/XGSy3_Czz8k">
                                            </iframe>
                                            <div class="itemDetails">
                                                <span>اسم المشروع يوضع هنا</span></div>
                                        </a>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="item">
                                        <a href="#">
                                            <iframe width="100%" height="300px" src="http://www.youtube.com/embed/XGSy3_Czz8k">
                                            </iframe>
                                            <div class="itemDetails">
                                                <span>اسم المشروع يوضع هنا</span></div>
                                        </a>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="item">
                                        <a href="#">
                                            <iframe width="100%" height="300px" src="http://www.youtube.com/embed/XGSy3_Czz8k">
                                            </iframe>
                                            <div class="itemDetails">
                                                <span>اسم المشروع يوضع هنا</span></div>
                                        </a>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="item">
                                        <a href="#">
                                            <iframe width="100%" height="300px" src="http://www.youtube.com/embed/XGSy3_Czz8k">
                                            </iframe>
                                            <div class="itemDetails">
                                                <span>اسم المشروع يوضع هنا</span></div>
                                        </a>
                                    </div>
                                </li>
                                <li class="col-md-6">
                                    <div class="item">
                                        <a href="#">
                                            <iframe width="100%" height="300px" src="http://www.youtube.com/embed/XGSy3_Czz8k">
                                            </iframe>
                                            <div class="itemDetails">
                                                <span>اسم المشروع يوضع هنا</span></div>
                                        </a>
                                    </div>
                                </li>-->
                                <div class="clear">
                                </div>
                            </ul>
                        </div>
                        <div class="projectBtns">
                            <div class="back">
                                <a href="javascript:void(0);" detail-backbutton>رجوع</a></div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>