<div class="modelSide col-md-8">
    <div class="projectInfo">
        <div class="companyTitle">
            <h4>
                <a class="back" href="javascript:void(0);" detail-backbutton>رجوع</a><span>نماذج {{Name}}</span></h4>
        </div>
        <div id="divModelLoading" class="loader">
            <img src="images/Frontend/loading2.gif"></div>
        <div class="modelsList">
            <ul>
                <li class="col-md-4 col-sm-6" ng-repeat="Model in Models">
                    <div class="item">
                        <a ng-click="ShowModel(Model.ID)">
                            <!--  <div class="wow">
                                <div class="wowText">
                                    للإيجار
                                </div>
                            </div>-->
                            <div class="itemImg">
                                <img src="http://www.aqarstock.com/{{Model.PlanImageURL}}" /></div>
                            <div class="itemDetails">
                                <span>{{Model.Name}}</span></div>
                        </a>
                    </div>
                </li>
                <!--<li class="col-md-4 col-sm-6">
                    <div class="item">
                        <a href="#">
                            <div class="wow">
                                <div class="wowText">
                                    للإيجار</div>
                            </div>
                            <div class="itemImg">
                                <img src="images/Frontend/offers.jpg" /></div>
                            <div class="itemDetails">
                                <span>فيلا <b>245</b> م تمليك _ التجمع الخامس بمنطقة القرنفل</span></div>
                        </a>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="item">
                        <a href="#">
                            <div class="wow">
                                <div class="wowText">
                                    للبيع</div>
                            </div>
                            <div class="itemImg">
                                <img src="images/Frontend/offers.jpg" /></div>
                            <div class="itemDetails">
                                <span>فيلا <b>245</b> م تمليك _ التجمع الخامس بمنطقة القرنفل</span></div>
                        </a>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="item">
                        <a href="#">
                            <div class="wow">
                                <div class="wowText">
                                    للإيجار
                                </div>
                            </div>
                            <div class="itemImg">
                                <img src="images/Frontend/offers.jpg" /></div>
                            <div class="itemDetails">
                                <span>المرحلة الأولى - سبتمبر 2014</span></div>
                        </a>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="item">
                        <a href="#">
                            <div class="wow">
                                <div class="wowText">
                                    للإيجار</div>
                            </div>
                            <div class="itemImg">
                                <img src="images/Frontend/offers.jpg" /></div>
                            <div class="itemDetails">
                                <span>فيلا <b>245</b> م تمليك _ التجمع الخامس بمنطقة القرنفل</span></div>
                        </a>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="item">
                        <a href="#">
                            <div class="wow">
                                <div class="wowText">
                                    للبيع</div>
                            </div>
                            <div class="itemImg">
                                <img src="images/Frontend/offers.jpg" /></div>
                            <div class="itemDetails">
                                <span>فيلا <b>245</b> م تمليك _ التجمع الخامس بمنطقة القرنفل</span></div>
                        </a>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="item">
                        <a href="#">
                            <div class="wow">
                                <div class="wowText">
                                    للإيجار
                                </div>
                            </div>
                            <div class="itemImg">
                                <img src="images/Frontend/offers.jpg" /></div>
                            <div class="itemDetails">
                                <span>المرحلة الأولى - سبتمبر 2014</span></div>
                        </a>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="item">
                        <a href="#">
                            <div class="wow">
                                <div class="wowText">
                                    للإيجار</div>
                            </div>
                            <div class="itemImg">
                                <img src="images/Frontend/offers.jpg" /></div>
                            <div class="itemDetails">
                                <span>فيلا <b>245</b> م تمليك _ التجمع الخامس بمنطقة القرنفل</span></div>
                        </a>
                    </div>
                </li>
                <li class="col-md-4 col-sm-6">
                    <div class="item">
                        <a href="#">
                            <div class="wow">
                                <div class="wowText">
                                    للبيع</div>
                            </div>
                            <div class="itemImg">
                                <img src="images/Frontend/offers.jpg" /></div>
                            <div class="itemDetails">
                                <span>فيلا <b>245</b> م تمليك _ التجمع الخامس بمنطقة القرنفل</span></div>
                        </a>
                    </div>
                </li>-->
                <div class="clear">
                </div>
            </ul>
        </div>
        <div class="projectBtns">
            <div class="back">
                <a href="javascript:void(0);" detail-backbutton>رجوع</a></div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
