<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="brokerApp" ng-controller="MainController">
<head>
    <meta charset="utf-8" />
    <title>Aqar Stock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" media="screen" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/bootstrap-theme.min.css" />
    <link href="styles/CssStyle.css" rel="stylesheet" type="text/css" />
    <script src="scripts/jquery-1.11.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/angular.min.js" type="text/javascript"></script>
    <script src="scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="scripts/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="scripts/angular-animate.min.js" type="text/javascript"></script>
    <script src="scripts/angular-resource.min.js" type="text/javascript"></script>
    <script src="scripts/FrontEndController.js" type="text/javascript"></script>
    <script src="scripts/services.js" type="text/javascript"></script>
    <script src="scripts/FrontEndDirective.js" type="text/javascript"></script>
</head>
<body class="rtl">
    <div class="wrapper">
        <header>
	        <div id="divHeader" ng-include src="'parts/Header.htm'">
            </div>
        </header>
        <!-- content Area start -->
        <div class="content">
            <div class="container">
                <div class="sideBar">
                    <div class="searchArea">
                        <div class="searchSm">
                            <div class="tabsBoxSm">
                                <div class="tabs">
                                    <div id="divTabSale" class="tab active" tab-click>
                                        <span>وحدات للبيع</span>
                                    </div>
                                    <div id="divTabRent" class="tab" tab-click>
                                        <span>وحدات للإيجار</span>
                                    </div>
                                </div>
                                <div class="tabContentBoxes">
                                    <div class="tabContentBox">
                                        <div class="firstRow">
                                            <div class="in">
                                                <span>نوع الوحدة</span></br>
                                                <select id="ddlSearchType" search-selecttype>
                                                    <option value="">كل الأنواع</option>
                                                    <option ng-repeat="RealEstateType in RealEstateTypes" value="{{RealEstateType.ID}}">
                                                        {{RealEstateType.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>البلد</span></br>
                                                <select id="ddlSearchCountry" search-selectcountry>
                                                    <option value="">كل البلاد</option>
                                                    <option ng-repeat="Country in Countries" value="{{Country.ID}}">{{Country.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>المحافظة</span></br>
                                                <select id="ddlSearchCity" search-selectcity disabled>
                                                    <option value="">كل المحافظات</option>
                                                    <option ng-repeat="City in SearchCitiesList" value="{{City.ID}}">{{City.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>الحي</span></br>
                                                <select id="ddlSearchDistrict" disabled>
                                                    <option value="">كل الأحياء</option>
                                                    <option ng-repeat="District in SearcDistricts" value="{{District.ID}}">{{District.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>السعر</span></br>
                                                <select>
                                                    <option value="">أختر السعر</option>
                                                    <option ng-repeat="Price in Prices" value="{{Price.value}}">{{Price.text}}</option>
                                                </select>
                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                        <div class="secRow">
                                            <div class="control">
                                                <span>البحث عن طريق <b>:</b> </span></br>
                                                <ul>
                                                    <li>
                                                        <input type="radio" name="1" value="الصور" /><label>الصور</label></li>
                                                    <li>
                                                        <input type="radio" name="1" value="القائمة" /><label>القائمة</label></li>
                                                    <li>
                                                        <input type="radio" name="1" value="الخريطة" /><label>الخريطة</label></li>
                                                </ul>
                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                        <div class="line">
                                        </div>
                                        <div class="thirdRow">
                                            <div class="in">
                                                <span>المساحة</span></br>
                                                <select>
                                                    <option value="">أختر المساحة</option>
                                                    <option ng-repeat="Area in Areas" value="{{Area.value}}">{{Area.text}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>حالة الوحدة</span></br>
                                                <select id="ddlSearchStatus" disabled>
                                                    <option value="">أختر حالة الوحدة</option>
                                                    <option ng-repeat="Status in SearchStatuses" value="{{Status.ID}}">{{Status.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>طريقة الدفع</span></br>
                                                <select>
                                                    <option value="">أختر طريقة الدفع</option>
                                                    <option ng-repeat="PaymentType in PaymentTypes" value="{{PaymentType.ID}}">{{PaymentType.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>العملة</span></br>
                                                <select>
                                                    <option value="">أختر العملة</option>
                                                    <option ng-repeat="Currency in Currincies" value="{{Currency.ID}}">{{Currency.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="clear">
                                            </div>
                                            <div class="control">
                                                <span><a href="#" btn-advanced>بحث مفصل عن عقارك</a></span> <span class="expand"
                                                    id="close"><a href="#" btn-advanced>غلق البحث المفضل</a></span>
                                                <div class="moreBtn">
                                                    <a href="#">بحث</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="addAqar">
                        <div class="BGC">
                            <a href="#">أضف عقارك هنا</a>
                        </div>
                    </div>
                    <div class="ADSSm">
                        <img src="images/Frontend/ADS1.jpg" />
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="contactArea">
                    <div class="Title">
                        <h4>
                            <a class="back" href="#">أرسل</a><span>اتصل بعقار ستوك</span></h4>
                    </div>
                    <div class="contactForm">
                        <form>
                        <div class="item">
                            <span class="title">الإسم</span></br>
                            <input type="text" /></br>
                        </div>
                        <div class="item left">
                            <span class="title">عنوان الرسالة</span></br>
                            <input type="text" /></br>
                        </div>
                        <div class="item">
                            <span class="title">رقم التليفون</span></br>
                            <input type="phone" /></br>
                        </div>
                        <div class="item left">
                            <span class="title">رسالتك</span></br>
                            <textarea type="text"></textarea></br>
                        </div>
                        <div class="item">
                            <span class="title">البريد الإلكتروني</span></br>
                            <input type="mail" /></br>
                        </div>
                        <div class="clear">
                        </div>
                        <div class="actions">
                            <div class="saveBtn">
                                <input class="orang" type="submit" value="أرسل" />
                            </div>
                            <div class="resetBtn">
                                <input class="gray" type="reset" value="مسح" />
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content Area end -->
        <!-- footer Area start -->
        <footer>
			<div ng-include src="'parts/Footer.htm'">
            </div>
	    </footer>
        <!-- footer Area end -->
    </div>
</body>
</html>
