<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="brokerApp" ng-controller="MainController">
<head>
    <meta charset="utf-8" />
    <title>Aqar Stock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" media="screen" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/bootstrap-theme.min.css" />
    <link href="styles/CssStyle.css" rel="stylesheet" type="text/css" />
    <script src="scripts/jquery-1.11.0.min.js"></script>
    <script src="scripts/angular.min.js" type="text/javascript"></script>
    <script src="scripts/angular-route.min.js" type="text/javascript"></script>
    <script src="scripts/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="scripts/angular-animate.min.js" type="text/javascript"></script>
    <script src="scripts/angular-resource.min.js" type="text/javascript"></script>
    <script src="scripts/FrontEndController.js" type="text/javascript"></script>
    <script src="scripts/services.js" type="text/javascript"></script>
    <script src="scripts/FrontEndDirective.js" type="text/javascript"></script>
</head>
<body class="rtl">
    <div class="wrapper">
        <header>
	        <div id="divHeader" ng-include src="'parts/Header.htm'">
            </div>
        </header>
        <!-- content Area start -->
        <div class="content">
            <div class="container">
                <div class="sideBar">
                    <div class="searchArea">
                        <div class="searchSm">
                            <div class="tabsBoxSm">
                                <div class="tabs">
                                    <div id="divTabSale" class="tab active" tab-click>
                                        <span>وحدات للبيع</span>
                                    </div>
                                    <div id="divTabRent" class="tab" tab-click>
                                        <span>وحدات للإيجار</span>
                                    </div>
                                </div>
                                <div class="tabContentBoxes">
                                    <div class="tabContentBox">
                                        <div class="firstRow">
                                            <div class="in">
                                                <span>نوع الوحدة</span></br>
                                                <select id="ddlSearchType" search-selecttype>
                                                    <option value="">كل الأنواع</option>
                                                    <option ng-repeat="RealEstateType in RealEstateTypes" value="{{RealEstateType.ID}}">
                                                        {{RealEstateType.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>البلد</span></br>
                                                <select id="ddlSearchCountry" search-selectcountry>
                                                    <option value="">كل البلاد</option>
                                                    <option ng-repeat="Country in Countries" value="{{Country.ID}}">{{Country.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>المحافظة</span></br>
                                                <select id="ddlSearchCity" search-selectcity disabled>
                                                    <option value="">كل المحافظات</option>
                                                    <option ng-repeat="City in SearchCitiesList" value="{{City.ID}}">{{City.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>الحي</span></br>
                                                <select id="ddlSearchDistrict" disabled>
                                                    <option value="">كل الأحياء</option>
                                                    <option ng-repeat="District in SearcDistricts" value="{{District.ID}}">{{District.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>السعر</span></br>
                                                <select>
                                                    <option value="">أختر السعر</option>
                                                    <option ng-repeat="Price in Prices" value="{{Price.value}}">{{Price.text}}</option>
                                                </select>
                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                        <div class="secRow">
                                            <div class="control">
                                                <span>البحث عن طريق <b>:</b> </span></br>
                                                <ul>
                                                    <li>
                                                        <input type="radio" name="1" value="الصور" /><label>الصور</label></li>
                                                    <li>
                                                        <input type="radio" name="1" value="القائمة" /><label>القائمة</label></li>
                                                    <li>
                                                        <input type="radio" name="1" value="الخريطة" /><label>الخريطة</label></li>
                                                </ul>
                                            </div>
                                            <div class="clear">
                                            </div>
                                        </div>
                                        <div class="line">
                                        </div>
                                        <div class="thirdRow">
                                            <div class="in">
                                                <span>المساحة</span></br>
                                                <select>
                                                    <option value="">أختر المساحة</option>
                                                    <option ng-repeat="Area in Areas" value="{{Area.value}}">{{Area.text}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>حالة الوحدة</span></br>
                                                <select id="ddlSearchStatus" disabled>
                                                    <option value="">أختر حالة الوحدة</option>
                                                    <option ng-repeat="Status in SearchStatuses" value="{{Status.ID}}">{{Status.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>طريقة الدفع</span></br>
                                                <select>
                                                    <option value="">أختر طريقة الدفع</option>
                                                    <option ng-repeat="PaymentType in PaymentTypes" value="{{PaymentType.ID}}">{{PaymentType.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="in">
                                                <span>العملة</span></br>
                                                <select>
                                                    <option value="">أختر العملة</option>
                                                    <option ng-repeat="Currency in Currincies" value="{{Currency.ID}}">{{Currency.Name}}</option>
                                                </select>
                                            </div>
                                            <div class="clear">
                                            </div>
                                            <div class="control">
                                                <span><a href="#" btn-advanced>بحث مفصل عن عقارك</a></span> <span class="expand"
                                                    id="close"><a href="#" btn-advanced>غلق البحث المفضل</a></span>
                                                <div class="moreBtn">
                                                    <a href="#">بحث</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="addAqar">
                        <div class="BGC">
                            <a href="#">أضف عقارك هنا</a>
                        </div>
                    </div>
                    <div class="ADSSm">
                        <img src="images/Frontend/ADS1.jpg" />
                    </div>
                    <div class="lastAdded">
                        <div class="lastAddedTitle">
                            <h4>
                                آخر الوحدات المضافة</h4>
                        </div>
                        <div class="lastAddedItems">
                            <ul>
                                <li class="item"><a href="#"><span>فيلا <b>245</b> م تمليك بجنينة ، التجمع الخامس</span></a>
                                </li>
                                <li class="item"><a href="#"><span>فيلا <b>245</b> م تمليك بجنينة ، التجمع الخامس</span></a>
                                </li>
                                <li class="item"><a href="#"><span>فيلا <b>245</b> م تمليك بجنينة ، التجمع الخامس</span></a>
                                </li>
                                <li class="item"><a href="#"><span>فيلا <b>245</b> م تمليك بجنينة ، التجمع الخامس</span></a>
                                </li>
                                <li class="item"><a href="#"><span>فيلا <b>245</b> م تمليك بجنينة ، التجمع الخامس</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="projectsSide">
                    <div class="projectInfo">
                        <div class="companyTitle">
                            <h4>
                                <a class="back" href="#">رجوع</a><span>اسم الشركة يوضع هنا</span></h4>
                        </div>
                        <div class="map-photo">
                            <div class="projectImg">
                                <img src="images/Frontend/projectImg.png" />
                            </div>
                            <div class="projectMap">
                                <div id="map-project">
                                </div>
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                        <div class="companyDetails">
                            <div class="detailsRow">
                                <div class="titl">
                                    <span>عن الشركة</span></div>
                                <div class="descrip">
                                    <span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن
                                        التركيز على الشكل الخارجي للنص أوش شكل توضع الفقرات في الصفحة التي يقرأها، ولذلك
                                        يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً
                                        عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو وكأنها نص مقروء
                                        الشكل الخارجي للنص أوش شكل توضع الفقرات في الصفحة التي يقرأها. </span>
                                </div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="detailsRow">
                                <div class="titl">
                                    <span>العنوان</span></div>
                                <div class="descrip">
                                    <span>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ.</span></div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="detailsRow">
                                <div class="titl">
                                    <span>التليفون</span></div>
                                <div class="descrip">
                                    <span>02 1234 5678 - 02 8765 4321</span></div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="detailsRow">
                                <div class="titl">
                                    <span>الفاكس</span></div>
                                <div class="descrip">
                                    <span>وحدة سكنية</span></div>
                                <div class="clear">
                                </div>
                            </div>
                            <div class="detailsRow">
                                <div class="titl">
                                    <span>الأيميل</span></div>
                                <div class="descrip">
                                    <span>وحدة سكنية</span></div>
                                <div class="clear">
                                </div>
                            </div>
                        </div>
                        <div class="projectBtns">
                            <div class="owner">
                                <a href="#">راسلنا</a></div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="compenyAqarsP">
                        <div class="companyTitle">
                            <h4>
                                <a class="back" href="#">المزيد</a><span>صور المشروع</span></h4>
                        </div>
                        <div class="loader"><img src="images/Frontend/loading2.gif"></div>
                        <div class="compeniesListP">
                            <ul>
                                <li>
                                    <div class="item">
                                        <a href="#">
                                            <div class="wow">
                                                <div class="wowText">
                                                    للإيجار
                                                </div>
                                            </div>
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" /></div>
                                            <div class="itemDetails">
                                                <span>المرحلة الأولى - سبتمبر 2014</span></div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <a href="#">
                                            <div class="wow">
                                                <div class="wowText">
                                                    للإيجار</div>
                                            </div>
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" /></div>
                                            <div class="itemDetails">
                                                <span>فيلا <b>245</b> م تمليك _ التجمع الخامس بمنطقة القرنفل</span></div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <a href="#">
                                            <div class="wow">
                                                <div class="wowText">
                                                    للبيع</div>
                                            </div>
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" /></div>
                                            <div class="itemDetails">
                                                <span>فيلا <b>245</b> م تمليك _ التجمع الخامس بمنطقة القرنفل</span></div>
                                         </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="projectsVideos">
                        <div class="companyTitle">
                            <h4>
                                <a class="back" href="#">المزيد</a><span>فيديوهات المشروع</span></h4>
                        </div>
                        <div class="loader"><img src="images/Frontend/loading2.gif"/></div>
                        <div class="compeniesList">
                            <ul>
                                <li>
                                    <div class="item">
                                        <a href="#">
                                            <iframe width="100%" height="136px"
                                                src="http://www.youtube.com/embed/XGSy3_Czz8k">
                                            </iframe>
                                            <div class="itemDetails">
                                                <span>اسم المشروع يوضع هنا</span></div>
                                           
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <a href="#">
                                            <video width="100%" height="136px" controls>
                                              <source src="mov_bbb.mp4" type="video/mp4">
                                              <source src="mov_bbb.ogg" type="video/ogg">  
                                            </video>
                                            <div class="itemDetails">
                                                <span>اسم المشروع يوضع هنا</span></div>
                                            
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <a href="#">
                                            <div class="videoPlay">
                                                <img src="images/Frontend/video.png" />
                                            </div>
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" /></div>
                                            <div class="itemDetails">
                                                <span>اسم المشروع يوضع هنا</span></div>
                                           
                                        </a>
                                    </div>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </div>
                    <div class="compenyAqarsP">
                        <div class="companyTitle">
                            <h4>
                                <a class="back" href="#">المزيد</a><span>نماذج المشروع</span></h4>
                        </div>
                        <div class="loader"><img src="images/Frontend/loading2.gif"></div>
                        <div class="compeniesListP">
                            <ul>
                                <li>
                                    <div class="item">
                                        <a href="#">
                                            <div class="wow">
                                                <div class="wowText">
                                                    للإيجار
                                                </div>
                                            </div>
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" /></div>
                                            <div class="itemDetails">
                                                <span>المرحلة الأولى - سبتمبر 2014</span></div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <a href="#">
                                            <div class="wow">
                                                <div class="wowText">
                                                    للإيجار</div>
                                            </div>
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" /></div>
                                            <div class="itemDetails">
                                                <span>فيلا <b>245</b> م تمليك _ التجمع الخامس بمنطقة القرنفل</span></div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <a href="#">
                                            <div class="wow">
                                                <div class="wowText">
                                                    للبيع</div>
                                            </div>
                                            <div class="itemImg">
                                                <img src="images/Frontend/offers.jpg" /></div>
                                            <div class="itemDetails">
                                                <span>فيلا <b>245</b> م تمليك _ التجمع الخامس بمنطقة القرنفل</span></div>
                                         </a>
                                    </div>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                        <div class="projectBtns">
                            <div class="back">
                                <a href="#">رجوع</a></div>
                        </div>
                        
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <!-- content Area end -->
        <!-- footer Area start -->
        <footer>
			<div ng-include src="'parts/Footer.htm'">
            </div>
	    </footer>
        <!-- footer Area end -->
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54b126567df2714e"
        async="async"></script>
    <script>

        $('.map-photo').hover(
            function () { $('.allImages').css({ "display": "inline-block" }) }
            , function () { $('.allImages').css({ "display": "none" }) }

            );

        // adapt detailsRow height 
        $(function () {
            $('.detailsRow').each(function () {
                var detailsRowHeight = Math.max($('.titl', $(this)).height(), $('.descrip', $(this)).height());
                $('.titl, .descrip', $(this)).height(detailsRowHeight);
            });
        });

        // for compare btn
        $('.controls .compare').click(function () {
            $(this).toggleClass("checked");
            if ($('input', $(this)).val() == "unchecked") {
                $('input', $(this)).val("checked");

            } else {
                $('input', $(this)).val("unchecked");
            }

        });
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhZ4worVs7Cyb-kk-VLbzJaLJmKyK-Z-Q">
    </script>
    <script type="text/javascript">
        
        function initialize() {
            var myLatlng = new google.maps.LatLng(30.0178661, 31.48746);
            var mapOptions = {
                zoom:8,
                center: myLatlng,
                panControl: false,
                scaleControl: false,
                zoomControl: false,
            }
            var map = new google.maps.Map(document.getElementById('map-project'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Hello World!'
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</body>
</html>
