
<div class="owner-contact-header">
    <h1><i class="fa fa-sign-in"></i> لمشاهدة بيانات المعلن</h1>
</div>
<div class="owner-contact-price">
    <h1><span class="black-text">قم </span><a href="javascript:void(0)" onclick="ShowLoginForm()">بتسجيل الدخول</a> </h1>
    <h1><span class="black-text">او راسل المعلن </span></h1>
</div>
