<form name="ContactForm" id="ContactForm" ng-submit="SendMessage()" novalidate>
<div class="property globalFormHolder"  ng-class="{true: 'error'}[submitted && ContactForm.$invalid]">
    <div class="propertyTitle">
        <h1>
            اتصل بنا</h1>
    </div>
    <div id="divMessage"><span></span> </div>
    <div class="propertyDesc globalForm">
        <div class="globalFormRow">
            <div class="globalFormLabel">
                <p>
                    الإسم</p>
            </div>
            <div class="globalFormField">
                <input type="text" name="name" ng-model="Contactus.Name" required />
                <span  ng-show="submitted && ContactForm.name.$error.required" class="req"><span>هذا الحقل مطلوب</span></span>
                </div>
        </div>
        <div class="globalFormRow">
            <div class="globalFormLabel">
                <p>
                    التليفون</p>
            </div>
            <div class="globalFormField">
                <input type="text" name="phone" ng-model="Contactus.Phone" required/>
                <span  ng-show="submitted && ContactForm.phone.$error.required" class="req"><span>هذا الحقل مطلوب</span></span></div>
        </div>
        <div class="globalFormRow">
            <div class="globalFormLabel">
                <p>
                    البريد الإلكتروني</p>
            </div>
            <div class="globalFormField">
                <input type="email" name="email" ng-model="Contactus.Email" required />
                <span  ng-show="submitted && ContactForm.email.$error.required" class="req"><span>هذا الحقل مطلوب</span></span>
                 <span  ng-show="submitted && ContactForm.email.$error.email" class="fieldError"><span>!البريد الإلكتروني غير صحيح</span></span>
            </div>
        </div>
        <div class="globalFormRow">
            <div class="globalFormLabel">
                <p>
                    رسالتك</p>
            </div>
            <div class="globalFormField">
                <textarea name="message" ng-model="Contactus.Message" required></textarea>
                <span  ng-show="submitted && ContactForm.message.$error.required" class="req"><span>هذا الحقل مطلوب</span></span></div>
        </div>
    </div>
    <div class="propertyLinks">
        <button type="submit" ng-click="submitted=true">إرسال</button>
        <a back-button href>رجوع</a>
    </div>
</div>
</form>