<div class="property globalFormHolder">
    <div class="propertyTitle">
        <h1>معرض صور {{Title}}</h1>
    </div>
    <div class="propertyDesc unitsGallery">
        <div class="propertyImage" ng-repeat="Photo in Photos">
            <img src="{{Photo.PhotoURL}}" alt="عقار ستوك - {{Title}}">
        </div>
       <!-- <div class="propertyImage">
            <img src="http://masteryhouse.com/../Resources/RealEstates/2014/6/5/7/slider_pic2.jpg">
        </div>
        <div class="propertyImage">
            <img src="http://masteryhouse.com/../Resources/RealEstates/2014/6/5/7/slider_pic2.jpg">
        </div>
        <div class="propertyImage">
            <img src="http://masteryhouse.com/../Resources/RealEstates/2014/6/5/7/slider_pic2.jpg">
        </div>
        <div class="propertyImage">
            <img src="http://masteryhouse.com/../Resources/RealEstates/2014/6/5/7/slider_pic2.jpg">
        </div>
        <div class="propertyImage">
            <img src="http://masteryhouse.com/../Resources/RealEstates/2014/6/5/7/slider_pic2.jpg">
        </div>-->
    </div>
    <div class="propertyLinks">
        <a detailbackbutton href>رجوع</a>
    </div>

</div>
