<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BrokerEntities" connectionString="metadata=res://*/BrokerContext.csdl|res://*/BrokerContext.ssdl|res://*/BrokerContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=109.203.117.15;initial catalog=RealEstateBroker;user id=Dalely;password=Dalely@MasteryIT;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MigratedRealEstatesEntities" connectionString="metadata=res://*/Migration.MigratedRealEstates.csdl|res://*/Migration.MigratedRealEstates.ssdl|res://*/Migration.MigratedRealEstates.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=109.203.127.181;initial catalog=MigratedRealEstates;user id=fcn;password=fcn@123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MasteryITServicesEntities" connectionString="metadata=res://*/Tags.csdl|res://*/Tags.ssdl|res://*/Tags.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=109.203.117.15;initial catalog=MasteryITServices;user id=fcn;password=fcn@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContentEntity" connectionString="metadata=res://*/ContentDB.Tags.csdl|res://*/ContentDB.Tags.ssdl|res://*/ContentDB.Tags.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=109.203.117.15;initial catalog=MasteryITServices;user id=fcn;password=fcn@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://smsvas.vlserv.com/KannelSending/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="SMSServiceReference.ServiceSoap" name="ServiceSoap" />
      <endpoint address="https://smsvas.vlserv.com/KannelSending/service.asmx"
        binding="customBinding" bindingConfiguration="ServiceSoap12"
        contract="SMSServiceReference.ServiceSoap" name="ServiceSoap12" />
    </client>
  </system.serviceModel>
</configuration>